/* GENERAL FONTS AND STUFF */

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
}

.content h2, .content h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.content h2 {
font-size: 1.25em;

}


p, table, td, th, tr {
  line-height:  1.7;
  font-family:  Merriweather, serif;
  margin-bottom: 25px;
}

.content li {  
  font-family:  Merriweather, serif;
  margin-left: 20px !important; 
  line-height:  1.5;
}

.content a {
  color: #377a5e !important;
  font-weight: bold;
  text-decoration:  underline;
}


/* TASKS */

.tasks {
 border-radius: 10px;
 padding: 20px 20px 10px 20px;
 margin-bottom: 25px;
line-height:  1.3em;
background: lightpink; 
border-left: solid 10px hotpink;
}

.tasks ul {
      list-style:  none;
}

.tasks li:before
{

    content: "\2610";
    margin-right:5px;
}


/* SIDEBAR */

li.subsection {
	margin-left: 30px;
}

li.sectionHead {
	font-weight:  bold;
	text-transform:  uppercase;
}

p.sidebar-title {
	font-weight: bold;
	font-size:  x-large;
	font-family:  SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.sidebar li.active a:hover, .sidebar li.active a:focus {
  color:  #038175 !important;
}

/* INDEX - GRID */

.grid-container {
  display: grid;
  width:75%;
  grid-template-columns: repeat( 3, minmax(33.33%, 1fr) );
  grid-auto-rows: 1fr;
 /* grid-template-columns: auto auto auto; */
  grid-gap: 10px;
  background-color: #ffffff;
  padding: 10px;
  font-family:'Comfortaa',Helvetica,Arial,sans-serif !important;
}

.grid-container a {
  text-decoration: none;
  color: #000000;
}

.grid-item a div {
  width:100%;
  height:100%;
}

.grid-container .grid-item {
  background-color: #2CA198;
  text-align: center;
  padding: 20px 0;
  font-size: 1.2em;
  opacity:.70;
  grid-column: span 1;
}


.grid-container .grid-item:hover {
  background-color: #ffa32f;
  opacity:1.0;
}

/* end grid for home page */

/* CALLOUT BOXES */

.callout h3 {
 font-family:  Helvetica, Arial, sans-serif;
 font-weight:  bold;
 font-size: 1.1em;
 background-color: transparent;
 text-decoration:  none;
}

.callout, blockquote {
 border-radius: 10px;
 padding: 5px 20px 10px 20px;
 margin-bottom: 45px;
 margin-top:  45px;
color: #000000; 
line-height:  1.4em;
}

/* .callout p {
  padding:  0px;
} */


/* BLOCKQUOTES */

blockquote {
  /* font-size:  1.3em; */
  /* background: lightgray; 
  border-left: solid 10px dimgray; */
  background: #A8FAE4; 
  border-left:  solid 10px #14E3AC;
  /* font-family:  Patrick Hand, san-serif; 
  line-height:  2;*/
  padding-top: 15px;
  /* font-style:  italic; */
}

/* VIDEOS BOX */
.videos {
background: lavender; 
border-left: solid 10px purple;
}

iframe {
  width: 90%;
  height: 400px;
  margin-top:  10px;
  margin-bottom:  10px;
  /* margin-left:  40px; */
  border:  solid 2px #000;
}

/* OBJECTIVES BOX */


/* .objectives li {
  border-bottom: solid 1px rgba(203,35,79,.15);
line-height:  2em;
} */



.objectives li:last-child {
  border-bottom: none;
}

.objectives { 
  background: #85c0fe; /* pale blue */
  border-left: solid 10px #0b4eab;
}

/* ACTIVITY BOX */
.activity { 
  background: #fffd86; /* very pale yellow */
  border-left: solid 10px #faf304; /* very bright yellow */
  /* background-image: url(../img/boxIcons/activity.png);
  Learning by jai from the Noun Project, https://thenounproject.com/search/?q=learning&i=1236442
  background-size: auto;
  background-position: 10px 10px;
  background-repeat: no-repeat;  */
}

.callout table  {
  border-style: solid;
  border-width:  3px;
  border-color:  #000;
  font-family:  Courier New, monospace;

}

.callout td, .callout th  {
  border-style: solid;
  border-width:  3px;
  border-color:  #000;

}


/* CASE STUDY/EXAMPLES */

.case_study { 
  border-left: solid 10px #3d244e; /* dark purple */
  background-color: lavender;
  /* background-image: url(../img/boxIcons/casestudies.png);
  background-size: auto;
  background-position: 10px 10px;
  background-repeat: no-repeat; */
}


/* ADDITIONAL INFO */

.info { 
 
  border-left: solid 10px #3d244e; /* dark purple */
  background-color: lavender;

  /* border-left: solid 10px #0ccc05;   bright green 
  background-color: #d2ffb9; */
 /* background-image: url(../img/boxIcons/info.png);
  background-size: auto;
  background-position: 10px 20px;
  background-repeat: no-repeat; */
  min-height: 80px;
}


/* VIDEO METADATA */
.videotime {
  /* color:#3fb58e;
  background: #caf6e6;
  border-radius: 10px;*/
  display: inline-block;
  border-width: 0 0 0 2px;
  padding: 8px 13px 8px 34px;
  background-image: url(../img/clock.svg);
  background-size: 18px;
  background-position: 10px center;
  background-repeat: no-repeat;
  float:none;
  width:  85px;
  margin-right:  10px;
}







/* COLORFUL TABLE */
.colorful, .colorful td, .colorful th {
  padding:10px;
  color: #000000;
  vertical-align:center;
  margin-left:  40px;
  border-spacing: 10px;
}

.colorful th {
  text-align:center;
  font-weight:bold;
  padding:5px;
  color: #000000;
  vertical-align:middle;
  border-spacing: 30px;
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 1em;
  /* border-collapse: separate; */

}

.colorful tr {
  padding: 10px;
}

/*
.colorful tr:nth-child(even) td, .colorful tr:nth-child(even) th {
  background-color:#A4EBE6;
  }

.colorful tr:nth-child(odd) td, .colorful tr:nth-child(odd) th {
  background-color:#DDDBDB;
}
*/

.colorful-th, .colorful-th th {
  padding:10px;
  color: #000000;
  vertical-align:middle;
  border-spacing: 30px;
 /* border-collapse: separate;*/
}

.colorful-th td {
  vertical-align:top;
}


.updatedcolor, .updatedcolor th, .updatedcolor td {
  padding:  10px;
  font-family:  font-family:  Merriweather, serif !important;
  font-size:  1em;
  border-collapse:  separate !important;
  border: 15px solid white !important;
  line-height: 1.3;
}

.updatedcolor th {
  font-weight:  bold !important;
}

.updatedcolor th {
  text-align: center !important;
}


/* COLOR HIGHLIGHTS TO REPLACE COLOR TABLES */

.colorhighlight {
  border-width:0px 0px 0px 25px; 
  border-style:solid; 
  padding:20px; 
  margin-top: 20px
}

.color1 {
  border-color: #85c0fe; /* blue */
}


.color2 {
  border-color:  lightpink;
}

.color3 {
  border-color: #fffd86; /* yellow */
}

/* 

 Using the Toolkit:  How To by Caesar Rizky Kurniawan from NounProject.com
 Youth Development:  Growth by Dmitry Vasiliev from NounProject.com

 */
