<div class="sidebar col-md-3" style="padding-top: 0px; margin-left:0px">
	<!-- 
	{% include next_module.html %}

	{% if prev %}
		<div class="pagination-section">
			<div class="title">
				Previous module:
			</div>
			<a rel="prev" class="prev" href="{{ site.baseurl }}{{ prev_post.url }}">
				{{ prev }} </a>
		</div>
		<hr />
	{% endif %} -->
	<div style="margin:0px;padding-bottom:15px;background-color:#fff;">
<center>



	<img src="{{ site.baseurl }}/img/moduleLogos/{{module}}.png"/ ALT="Module Icon" width="75%">

		{% if module == 'basics' %} 
	<p class="sidebar-title">Connected Learning Basics</p>
	{% elsif module == 'youth-development' %}
	<p class="sidebar-title">Youth<br/>Development</p>
		{% elsif module == 'introducing-the-toolkit' %}
	<p class="sidebar-title">Introducing<br/>the Toolkit</p>
	{% endif %}

</center></div>

	<ul>
		{% for post in site.categories[module] reversed %}

			

			<li class="{% if post.url == page.url %}active{% endif %} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %} {% unless post.tags contains 'sectionHead' %}subsection{% endunless %} {% if post.tags contains 'sectionHead' %}sectionHead{% endif %}">
				<a
						href="{{ site.baseurl }}{{ post.url }}">
					{{ post.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
<!--	{% if next %}
		<hr />
		<div class="pagination-section">
			<div class="title">
				Next module:
			</div>
			<a rel="next" class="next" href="{{ site.baseurl }}{{ next_post.url }}"> {{ next }}
			</a>
		</div>
	{% endif %} -->
</div>
